
.two-col { /* BELONGS in a div that is display:flex, flex-direction: column */
	flex: 1 1 auto;

	display: flex; /* left and right children will stack side-by-side (row) */
	flex-flow: row nowrap;
	overflow: hidden;
}

.two-col .left-thin {
	width: 350px;
	overflow-y: auto; /* show scrollbar when needed */
	margin-left: 5em;
}

.two-col .right-rest {
	flex: 1 1 auto;
	overflow-y: auto; /* show scrollbar when needed */
	margin-right: 5em;
}


.header, .footer {
	flex: 0 0 auto; /* set to NOT flex (within full-screen... */
	height: 40px;
}
.header, .footer {
	display: flex; /* children will stack in a row */
	flex-flow: row-reverse nowrap;
}
.footer {
	display: flex; /* children will stack in a row */
	flex-flow: row nowrap;
}
.header_item, .footer_item {
	color: blue;
	line-height: 10px; /* strange; would think the same height as .header (40px) would achieve the vertical-centering wanted, but probably the (heightless) 'buttonish' class has something to do with this; TODO: fix this / understand it! */
}





.dropdown { /* the container <div> - needed to position the dropdown content */
	width: 100%;
	position: relative;
	display: inline-block;
}

.dropdown_button { /* Class only used for finding, via event.target.matches(...) */
}

.dropdown_content { /* content within .dropdown is HIDDEN by Default */
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 80px; /* ?!!! */
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* TODO: Below: we want to deprecate the 'a', and use 'div' only... but currently there are still references to both within dropdown-content divs.... */
/* Links inside the dropdown */
.dropdown_content a {
	color: black;
	padding: 4px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {background-color: #ddd}

/* Links inside the dropdown */
.dropdown_content div {
	color: black;
	padding: 4px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown_content div:hover {background-color: #ddd}




/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display: block;
}
.hide {
	display: none;
}
.block {
	display: block;
}
.pointered {
	cursor: pointer;
}
.pointered:hover {
	background-color: #ddd
}
.float_right {
	float: right;
}
.float_left {
	float: left;
}
.clear {
	clear: both;
}
.full_width_height {
	width: 100%;
	height: 100%;
}
