
html,
body,
.full_screen {
	height: 100%;
	margin: 0;
	padding: 0;
}
.full_screen {
	display: flex;
	flex-direction: column;
}
.gray_screen {
	position: absolute;
	background-color: #444;
	opacity: 0.7;
	z-index: 2;
	height: 100%;
	width: 100%;
}

.header, .footer {
	flex: 0 0 auto; /* set to NOT flex (within full-screen... */
	height: 40px;
}
.header {
	display: flex; /* children will stack in a row */
	flex-flow: row-reverse nowrap;
}

/* Thanks to https://www.sitepoint.com/css-grid-web-form-layout/ for great guidance here */

p {
	max-width: 35em;
	margin: 1em auto;
}

fieldset {
	max-width: 35em;
	padding: 4px;
	margin: 2em auto;
	border: 0 none;
}

legend {
	font-size: 1.2em;
	width: 100%;
	border-bottom: 1px dotted #888;
}

input, output, textarea, select, button {
	box-sizing: border-box;
	padding: 0.2em 0.4em;
	margin: 0.2em 0;
	outline: 0 none;
	border: 0 none;
	box-shadow: none;

	clear: both;
	float: right;
	width: 60%;
}

button {
	max-width: 12em;
	padding: 0.2em 2em;
	background-color: #eee;
	box-shadow: 0 2px 0 #ccc;
	cursor: pointer;
}

label {
	box-sizing: border-box;
	user-select: none;
	cursor: pointer;

	float: left;
	width: 40%;
	text-align: right;
	padding: 0.25em 1em 0 0;
}

input:focus + label, textarea:focus + label, select:focus + label {
	color: #933;
}

input:checked + label {
	font-weight: bold;
}


button, input[type="checkbox"], input[type="radio"] {
	width: auto;
	float: left; /* TODO!! - this conflicts with button spec, above!! */
	margin: 0.5em 0.5em 0 40%; /* TODO: so does this! */
}

input[type="checkbox"] + label, input[type="radio"] + label { /* TODO: this conflicts with some settings above!!! */
	width: auto;
	text-align: left;
}

input[type="date"] {
	width: 10em;
}
input[type="time"] {
	width: 10em;
}

/* grid layout */
@supports (display: grid) {

	.formgrid {
		display: grid;
		grid-template-columns: 1fr 1em 2fr;
		grid-gap: 0.3em 0.6em;
		grid-auto-flow: dense;
		align-items: center;
	}

	input, output, textarea, select, button {
		grid-column: 2 / 4;
		width: auto;
		margin: 0;
	}

	input[type="checkbox"], input[type="radio"] {
		grid-column: 1 / 3;
		justify-self: end;
		margin: 0;
	}

	label, input[type="checkbox"] + label, input[type="radio"] + label {
		width: auto;
		padding: 0;
		margin: 0;
	}

	textarea + label {
		align-self: start;
	}

}

.selectable_row {
}

.selectable_row:hover {
	background-color: #abec8e;
	cursor: pointer;
}

/* ------------------------------------------------------------- */
/* The following is taken from the bottom half of driver.css... need to consolidate; the slight diff there is that the screen is a 100% with as-needed scrollbars in the individual flexboxes */

.center40 {
	width: 60em;
	padding: 4px;
	margin: 0 auto; /*2em auto;*/
	border: 0 none;
}

.flexrow {
	display: flex; /* text and buttons will flow in a row; but watch out: '.flexrow div' probably doesn't want to apply to left and middle rows in .arrangements! */
	flex-flow: row nowrap;
	align-items: center;
	overflow: hidden;
	border-bottom: 1px dotted #888;
}

.flexrow div {
	margin: 0.5em;
}


.arrangements { /* NOTE: currently the same as flexrow! */
	display: flex; /* left and right children will stack side-by-side (row) */
	flex-flow: row nowrap;
	overflow: hidden;
}

.left {
	width: 45%;
	overflow-y: auto; /* show scrollbar when needed */
}

.middle {
	flex: 1 1 auto;
	overflow-y: auto; /* show scrollbar when needed */
}

.live { /*TODO(?) the term 'live' comes from drive.js; this css is more for edit.js, and there's no "live", as in a live production, but there is a "chosen"; we're leaving this nomenclature because it facilitates some code-sharing in drive.js / edit.js */
	background-color: #ee0000;
	font-weight: 800;
}

.buttonish, .pseudobuttonish {
	margin: 7px;
	padding: 7px;
	background-color: #abec8e;
}
.buttonish:hover {
	/* background-color: #53d441;  */
	background-color: #53d441;
	cursor: pointer;
}

.phrase {
}

.phrase:hover {
	cursor: pointer;
	background-color: #abec8e;
}

.content_title {
}

.content_title:hover {
	cursor: pointer;
	background-color: #abec8e;
}

/* ----------------------------------------------------------------- */

.button_band {
	width: 100%;
	display: flex; /* text and buttons will flow in a row */
	flex-flow: row nowrap;
}

.button_band .text {
	flex-shrink: 0;
	margin: 1px;
}
.button_band input {
	display: block;
}

/*
.button_band .text:hover {
	cursor: pointer;
	background-color: #abec8e;
}
*/

.button_band button {
	margin: 1px 2px;
	padding: 1px 5px;
	font-size: 1em;
	border-radius: 4px;
	color: white;
	background-color: #6567a8;
	border: 2px;
	cursor: pointer;
	
	border-style: solid;
	box-shadow: none;
}

.button_band .push {
	margin-left: auto;
}


/* ----------------------------------------------------------------- */

.highlight_container {
}

.highlighted { /* note that this is duplicated in driver.css -- TODO: consolidate? */
	background-color: #53d441; /* just a touch beyond .buttonish:hover */
	font-weight: bold;
}

/* ----------------------------------------------------------------- */

.big_focus_box {
	position: absolute;
	z-index: 5;
	width: 25em;
	height: 60vh;
	padding: 10px;
	border: 4px solid #888;
	border-radius: 10px;
	background-color: #fff;
	overflow-y: auto; /* show scrollbar when needed */
	/*overflow: hidden;*/
}

.big_focus_box :is(label, input[type="text"]) {
	padding: 0.25em 1em 0 0;
}
.big_focus_box button {
	/*background-color: #abec8e;*/
	border: 2px solid #888;
}

/* ----------------------------------------------------------------- */

.thumbnails {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.thumbnails div {
	margin: 1px
}

/*
.text_content_lines {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
.text_content_lines div {
	margin: 1px
}
*/
