html,
body,
.bg {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;   /* hide scrollbars */
}

body {
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 1.0;
	transition: background 1.0s linear;
}

/*.bg img { THIS way is more complicated and we never got it working, but, apparently, it would be the more "right" way; Chrome, at least, works with the body:background scheme, above, even including odd-aspect-ratio images; chromium does NOT!
	z-index: 0;
	height: 100%;
	margin: auto;
	position: absolute;
	transition: src 1.0s linear;
}*/

.full_frame {
	position: absolute;
	background-color: transparent;
	height: 100%;
	width: 100%;
	/*opacity: 0;  start "on"; full-frame is default 
	transition: opacity 2s ease; */
}

.halfh_frame_frame {
	position: absolute;
	background-color: transparent;
	height: 68%;
	width: 100%;
}

.halfh_frame {
	position: relative;
	background-color: transparent;
	height: 50%;
}


.vcenter_content {
	position: absolute;
	background-color: transparent;
	height: 100%;
	width: 100%;
	/* padding: 5%; BAD - causes total half-frame failure! */
	/* margin: auto;  BAD - causes total half-frame failure! */
	/* will-change: opacity; - to help with performance on SBCs; don't seem to need this, after all - it doesn't help with text-shadow transition performance (we abandoned text-shadow, and use stroke-width now), and it doesn't seem to be necessary for stroke-width transition performance.  Furthermore, warnings are issued about being careful to not overuse this, and to now use it merely "anticipating" performance problems */
	opacity: 0; /* start "off"; full-frame is default */
	transition: opacity 1s ease;
}

.vcenter {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.halfback {
}


.halo_content, .outline_content, .preformatted_content {
	padding: 0.3em;
	color: black;
	font-size: 5vw;
	font-weight: 900;
	text-align: center;
}

.halo_content {
	font-family: verdana, sans-serif;
	/*font-family: arial black, sans-serif; -- arial black looks pretty good, with the 'stroke' settings, below, but it is a MS font (have to install ttf-mscorefonts-installer), and verdana seems to be an even better choice, on closer inspection, in terms of narrower tracking, plenty of girth, etc., as long as it's used at full font-weight (900) */
	text-shadow: 0px 0px 15px white, 0px 0px 20px white, 0px 0px 20px white, 0px 0px 20px white, 0px 0px 30px white; /* poor performance; won't run on SBCs!! */
}

.preformatted_content {
	font-family: monospace;
	font-size: 4vw;
	text-align: left;
	white-space: pre;
	line-height: 0.3em;
}

.content_text {
	color: black;
}
.content_smaller_text {
	color: black;
	font-size: 3vw;
}
.content_chord {
	color: gray;
}

.outline_content {
	background: rgba(255, 255, 255, 0.35); /* translucent "bar" for the text to sit in; to increase clarity */
	/*font-family: 'Titan One', verdana, sans-serif; */
	font-family: 'Alfa Slab One', verdana, sans-serif;
	-webkit-text-stroke-width: 0.07em;
	/*-webkit-text-stroke-width: 0.04em; good for verdana fallback */
	-webkit-text-stroke-color: white;
}

